.noContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
  min-block-size: calc(95vh - var(--header-block-size));
}

.noContentImg {
  inline-size: 20%;
  block-size: 20%;
  object-fit: cover;
}
