.catsList {
    display: grid;
    padding: 50px 60px;
    block-size: 100%;
    min-block-size: calc(90vh - var(--header-block-size));
    grid-template-columns: repeat(auto-fill, 224px);
    grid-template-rows: repeat(auto-fill, 224px);
    justify-content: center;
    gap: 50px;
}
