.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #000;
}

.chanks, .noContent {
  inline-size: 100%;
  block-size: 100%;
  min-block-size: calc(95vh - var(--header-block-size));
}

.noContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
